<ion-header>
  <ion-toolbar>
    <ion-title>electronica</ion-title>
  </ion-toolbar>
</ion-header>






<ion-content>
  <ion-toolbar>
    <ion-list>
    <ion-grid>
        <ion-col col-4  col-md-6>
          
          <ion-button routerLink="/chaski" style="width : 29.83% ; height : 33%" color="success"> 
            <img src="assets/galeria/chaski.png" style="width : 200% ; height : 100%" ng-click="/chaski"  >
        </ion-button>
      </ion-col>
    <ion-col col-4 col-md-6>
          <ion-button routerLink="/electronica" style="width : 29.83% ; height : 33%" color="success">
            <img src="assets/galeria/electronica.png" style="width : 200% ; height : 100%" ng-click="/electronica" >
        </ion-button>
      </ion-col >
    <ion-col col-4 col-md-6>
            <ion-button routerLink="/agrario" style="width : 29.83% ; height : 33%" color="success">
              <img src="assets/galeria/agrario.png" style="width : 200% ; height : 100%" ng-click="/agrario" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/medicina" style="width : 29.83% ; height : 33%" color="success">
            <img src="assets/galeria/4.png" style="width : 200% ; height : 100%" ng-click="/medicina" >
            </ion-button>
          </ion-col>
        <ion-col col-4 col-md-6>
            <ion-button routerLink="/repuesto" style="width : 29.83% ; height : 33%" color= "success">
              <img src="assets/galeria/5.png" style="width : 200% ; height : 100%" ng-click="/repuesto" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/educacion" style="width : 29.83% ; height : 33%" color="success">
            <img src="assets/galeria/6.png" style="width : 200% ; height : 100%" ng-click="/educacion" >
          </ion-button>
        </ion-col>
        <ion-col col-4 col-md-6>
          <ion-button routerLink="/serviciospublicos" style="width : 29.83% ; height : 33%" color="success">
            <img src="assets/galeria/7.png" style="width : 200% ; height : 100%" ng-click="/serviciospublicos" >
            </ion-button>
          </ion-col>
     
   
      </ion-grid>
      </ion-list>
    </ion-toolbar>
    
   
    </ion-content>