<ion-header>
  <ion-toolbar>
    <ion-title>Chaski Bots</ion-title>
  </ion-toolbar>
</ion-header>


<ion-col size="12" size-lg="3" size-md="6" size-xs="12"
           *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; ">
<ion-content>

<ion-card>
  <img src="assets/galeria/CHB.png" style="width : 200% ; height : 100%"     >
</ion-card>
 
<ion-card-title>
  <ion-title>
     Chaski Bots - Electrónica y Robótica
</ion-title>
</ion-card-title>

<ion-card>
  

  <ion-button style="width : 32% ; height : 8%" href="0997390560">
  <ion-icon name="call" slot="start">xxx</ion-icon>Llamada
  
  </ion-button> 
  
  <ion-button style="width : 32% ; height : 8% " href="0997390560 ">
  <ion-icon name="mail" slot="start"></ion-icon>
      Correo
  </ion-button>
  
  <ion-button style="width : 32% ; height : 8%" routerLink="/chaskimapa">
  <ion-icon name="map" slot="start"></ion-icon>
    Mapa
  </ion-button>
 </ion-card>
  
<ion-card >

  <ion-card-content>
  
    <p>
      Somos un Centro de Desarrollo Tecnológico e Innovación
      que nace con la misión de motivar a la población del 
      Cantón Mejía a involucrarse en el mundo de la Electrónica 
      y Robótica.
    </p>
  </ion-card-content>
</ion-card>




<ion-list class="menu-items" lines="none">

  <ion-menu-toggle>
  <ion-item routerLink="/ciencia">
  <ion-icon name="pie-chart-outline"></ion-icon>
  <ion-label>Ciencia</ion-label>
  </ion-item>
  </ion-menu-toggle>
  

  
  <ion-item>
  <ion-icon name="browsers-outline"></ion-icon>Arte
  </ion-item>
  <ion-item class="active" >
  <ion-icon name="flash"></ion-icon>Cultura
  </ion-item>
  <ion-item>
  <ion-icon name="chatbubble-ellipses-outline"></ion-icon>Deportes
  </ion-item>
  <ion-item>
  <ion-icon name="heart-outline"></ion-icon>Gente
  </ion-item>
  <ion-item>
  <ion-icon name="exit-outline"></ion-icon>Contacto
  </ion-item>
  
  
  </ion-list>





</ion-content>

</ion-col>


