<ion-header>
  <ion-toolbar>
    <ion-title>Transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-list>
    <ion-grid>

         <ion-col col-4  col-md-4> 
          
          <ion-button routerLink="/transporte" style="width : 29.83% ; height : 33%" color= "warning ">
            <img src="assets/galeria/bus.png" style="width : 200% ; height : 100%"    >
        </ion-button>
      </ion-col>
      
    <ion-col col-4 col-md-6>
          <ion-button routerLink="/restaurante" style="width : 29.83% ; height : 33%" color= "warning">
            <img src="assets/galeria/camionetas.png" style="width : 200% ; height : 100%" ng-click="/restaurante" >
        </ion-button>
      </ion-col >
    <ion-col col-4 col-md-6>
            <ion-button routerLink="/hoteles" style="width : 29.83% ; height : 33%" color= "warning">
              <img src="assets/galeria/taxi.png" style="width : 200% ; height : 100%" ng-click="/hoteles" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/medicina" style="width : 29.83% ; height : 33%" color= "warning">
            <img src="assets/galeria/camiones.png" style="width : 200% ; height : 100%" ng-click="/medicina" >
            </ion-button>
          </ion-col>
       
              </ion-grid>
      </ion-list>
    </ion-toolbar>
    
   
    </ion-content>