<ion-header>
  <ion-toolbar>
    <ion-title>Repuesto PRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-list>
    <ion-grid>
        <ion-col col-4  col-md-6>
          
          <ion-button routerLink="/transporte" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/1.png" style="width : 200% ; height : 100%" ng-click="/trasnporte" >
        </ion-button>
      </ion-col>
    <ion-col col-4 col-md-6>
          <ion-button routerLink="/restaurante" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/2.png" style="width : 200% ; height : 100%" ng-click="/restaurante" >
        </ion-button>
      </ion-col >
    <ion-col col-4 col-md-6>
            <ion-button routerLink="/hoteles" style="width : 29.83% ; height : 33%">
              <img src="assets/galeria/3.png" style="width : 200% ; height : 100%" ng-click="/hoteles" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/medicina" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/4.png" style="width : 200% ; height : 100%" ng-click="/medicina" >
            </ion-button>
          </ion-col>
        <ion-col col-4 col-md-6>
            <ion-button routerLink="/repuesto" style="width : 29.83% ; height : 33%">
              <img src="assets/galeria/5.png" style="width : 200% ; height : 100%" ng-click="/repuesto" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/educacion" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/6.png" style="width : 200% ; height : 100%" ng-click="/educacion" >
          </ion-button>
        </ion-col>
        <ion-col col-4 col-md-6>
          <ion-button routerLink="/serviciospublicos" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/7.png" style="width : 200% ; height : 100%" ng-click="/serviciospublicos" >
            </ion-button>
          </ion-col>
        <ion-col col-4 col-md-6>
            <ion-button routerLink="/destinos" style="width : 29.83% ; height : 33%">
              <img src="assets/galeria/8.png" style="width : 200% ; height : 100%" ng-click="/destinos" >
          </ion-button>
        </ion-col>
      <ion-col col-4 col-md-6>
          <ion-button routerLink="/insumos" style="width : 29.83% ; height : 33%">
            <img src="assets/galeria/9.png" style="width : 200% ; height : 100%" ng-click="/insumos" >
          </ion-button>
    
        </ion-col>
      </ion-grid>
      </ion-list>
    </ion-toolbar>
    
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/inicio" tab="account">
          <ion-icon name="home" ></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/tabcontacto" tab="calls">
          <ion-icon name="call" ></ion-icon>
          <ion-label>Contactos</ion-label>
        </ion-tab-button  >
        <ion-tab-button routerLink="/tabrutas" tab="inbox">
          <ion-icon name="pin" ></ion-icon>
          <ion-label>Rutas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-content>
    
